# Kaggle

Добро пожаловать в [Kaggle](https://www.kaggle.com/)!

Kaggle — это платформа для соревнований по анализу данных и машинному обучению. Здесь можно находить различные наборы 
данных, решать задачи и участвовать в конкурсах на создание лучших алгоритмов для предсказаний или классификации. 
Kaggle объединяет сообщество специалистов по анализу данных, где можно обмениваться опытом, изучать новые техники 
и создавать портфолио проектов.

Kaggle предоставляет интерактивную веб-среду для написания и выполнения кода на Python, работы с большими наборами 
данных прямо в браузере, без необходимости настраивать окружение. Платформа также предоставляет бесплатные 
вычислительные ресурсы, что делает её отличным выбором для экспериментов и разработки моделей машинного обучения.

# Виды ячеек

Весь код в блокнотах мы ведем в **ячейках** разных типов:
* **Markdown** — ячейки для текста в формате [Markdown](https://ru.wikipedia.org/wiki/Markdown).
* **Raw** — неформатированный текст.
* **Code** — ячейки с кодом (в нашем случае на языке Python).

Для выполнения ячейки нажми <kbd>shift</kbd> + <kbd>return</kbd> или используй кнопку <kbd>&#9654;</kbd> в панели инструментов.

## Raw ячейки

Это тип ячейки, который используется для отображения текста или кода без выполнения.

## Markdown ячейки
Это тип ячейки, который позволяет тебе создавать и форматировать текст с помощью языка разметки [Markdown](https://daringfireball.net/projects/markdown/).

Примеры форматирования:

- *курсив*
- **полужирный**
- `код`
- [ссылки](https://jupyterlab.readthedocs.io/)
- поддержка LaTeX: \begin{equation}
e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i
\end{equation}

## Code ячейки
Это тип ячейки, в которой можно исполнять код на выбранном языке программирования (в нашем случае Python). Code ячейки позволяют пользователю вводить код, выполнять его и получать результаты непосредственно внутри ячейки. Каждая ячейка с кодом содержит один или несколько кодовых блоков, которые могут быть выполнены последовательно или в произвольном порядке.

In [1]:
2 + 2

4

# Иерархия ячеек

Markdown поддерживает шесть уровней заголовков для упорядочивания документа. Заголовки — это текст, которому предшествуют 1-4 символов `#`. Чем больше символов, тем ниже уровень.
Эти заголовки помогают быстро осуществлять навигацию по блокноту.

```
# H1 Заголовок 1-ого уровня
## H2 Заголовок 2-ого уровня
### H3 Заголовок 3-ого уровня
#### H4 Заголовок 4-ого уровня
```

# H1 Заголовок 1-ого уровня

## H2 Заголовок 2-ого уровня

### H3 Заголовок 3-ого уровня

#### H4 Заголовок 4-ого уровня

# Введение в Python

## Оператор присваивания и переменные

Имя, которое используется для обозначения какого-либо значения, называется переменной. В Python переменные объявляются следующим образом:

In [2]:
x = 21 # операция присваивания переменной x значения 21
y = 'Cбер' # операция присваивания переменной y строки 'Сбер'

В Python конец строки является концом инструкции. Никаких символов на конце не требуется. 

Теперь наши значения хранятся в переменных x и y. Можем в этом убедиться, выведя эти переменные.
Воспользуемся функцией `print()` для вывода.

In [3]:
print(x)

21

In [4]:
print(y)

Cбер

Правила для названия переменной:
* Допустимые символы в названиях переменной: буквы, цифры, _ (подчеркивание)
* Название может начинаться только с буквы или _

In [5]:
name = 1
_name = 2
name_21 = 21

Попробуем начать название с цифры:

In [6]:
1_num = 1 # Получаем SyntaxError — ошибку синтаксиса

SyntaxError: invalid decimal literal (1903690870.py, line 1)

## Математические операторы и численные типы

| Обозначение | Оператор |
|----|---|
| +  | Сложение |
| -  | Вычитание |
| /  | Деление |
| //  | Целочисленное деление |
| %  | Взятие остатка от деления |
| *  | Умножение |
| **  | Возведение в степень |

In [8]:
a = 12
b = 4

In [9]:
type(a)

int

In [10]:
c = a + b

In [11]:
print(c)

16

In [12]:
type(c)

int

In [13]:
d = 3.5

In [14]:
print(d)

3.5

In [15]:
type(d)

float

In [16]:
f = a / 2

In [17]:
print(f)

6.0

In [18]:
type(f)

float

In [19]:
a * b

48

Также аккуратнее при использовании различных операций с типом float. Посмотрим на примере:

In [20]:
0.1 + 0.2

0.30000000000000004

## Логические операторы и булевый тип

In [21]:
is_true = True # или False

In [22]:
is_true

True

| Обозначение | Оператор |
|----| :--- |
| and | Логическое И |
| or  | Логическое ИЛИ |
| not | Отрицание |

Примеры логических операторов:

In [23]:
print(True and False)
print(True or False)
print(not False)

False
True
True

### Операторы сравнения

| Обозначение | Оператор |
|----| :--- |
| == | True, если равно |
| !=  | True, если не равно |
| < | меньше чем |
| > | больше чем |
| <=  | меньше чем или равно |
| >=  | больше чем или равно |

In [24]:
4 * 2 == 8

True

In [25]:
5 > 7

False

## None

`None` используется для определения отсутствия значения

In [26]:
x = None  # Это значит, что переменной x не присвоено никакое значение.

## Строки

Строки в Python — это тип данных, в которых содержатся текстовые символы. Для создания строки мы должны записать символы в \"\" (двойные) или '' (одинарные) кавычки.

In [27]:
s_1 = "Sber"  # str

Функция `len()` возвращает длину строки.

In [28]:
len("Sber 21")

7

У строк огромное количество методов, например, метод `.replace()`, который позволяет заменять символы в строке:

In [29]:
string = 'малако'

In [30]:
string.replace('а', 'о')

'молоко'

## Коллекции

До сих пор мы рассматривали только числа и строки и то, как писать простые выражения с их участием. В целом, написание программ — это управление более сложными коллекциями таких элементов. Это значит, что нужно думать о структурах данных для хранения данных и алгоритмах для манипулирования ими.

### Списки

Списки (List) — это наиболее часто используемая структура данных. Считай, что это последовательность данных, заключенных в квадратные скобки, которые разделяются запятой. Каждый элемент списка может быть доступен по позиции элемента в списке.

In [31]:
lst = ['Hello', 2, True]

In [32]:
type(lst)

list

К элементу списка можно обратиться по его индексу. В Python индексация начинается с 0, как уже было замечено для строк.

In [33]:
lst[0]

'Hello'

In [34]:
lst[2]

True

### Словари

Словари (Dict) — это отображения между ключами и элементами, хранящимися в словарях. В качестве альтернативы можно рассматривать словари как множества, в которых что-то хранится против каждого элемента множества. Они могут быть определены следующим образом:

In [35]:
d = {}
d['key'] = 'value'

In [36]:
d

{'key': 'value'}

In [37]:
d = {1: 'Один', 2: 'Два', 3: 'Три'}

In [38]:
d[3] # Можно получить значение по ключу

'Три'

## Функции

Функции — это механизм, позволяющий повторно использовать код, чтобы сложные программы можно было строить из более простых частей. Важно: начинать писать программу на Python с написания нескольких строк кода и тестирования по ходу дела — это здорово, но распространенная ошибка новичков — продолжать в том же духе. Ты не захочешь иметь программу, состоящую из 20 000 строк в одном длинном файле/блокноте. Думай о функциях, как об абзацах в английском языке. Каждый раз, когда ты начинаешь новую идею, начинай новую функцию. Это сделает твой код более читабельным, легким для отладки и, в конечном итоге, для повторного использования частей кода таким образом, который, возможно, не предполагался при первоначальном написании кода.

In [39]:
print("Привет, Андрей!")
print("Как твои дела?")

Привет, Андрей!
Как твои дела?

Вместо того, чтобы каждый раз писать весь повторяющийся код, можно заменить определением функции, которая выполнит эту работу всего за одну строку.

Функции в Python определяются с использованием ключевого слова ```def```, за которым следует имя функции, аргументы в круглых скобках и двоеточие. Тело функции начинается с отступа и может содержать любое количество выражений.

In [40]:
def имя_функции(аргументы):
    тело_функции

Например, реализуем функцию приветствия:

In [41]:
def hello():
    # После вызова этой функции исполнится код, написанный ниже
    print("Добрый день, Андрей!")
    print("Как твои дела?")

In [42]:
hello()

Добрый день, Андрей!
Как твои дела?

Наша функция `hello()` всегда будет приветствовать Андрея. Мы можем сделать нашу функцию `hello()` принимающей аргументы, которые будут хранить имя, с кем нужно поздороваться. Для этого добавь аргумент в функцию.

In [43]:
def hello(name):
    # После вызова этой функции исполнится код, написанный ниже
    print("Добрый день, %s!" % name)
    print("Как твои дела?")

In [44]:
hello("Андрей")

Добрый день, Андрей!
Как твои дела?

In [45]:
hello("Света")

Добрый день, Света!
Как твои дела?

## Pandas

### Импортирование библиотек

In [46]:
import pandas as pd

### Чтение данных

In [47]:
df1 = pd.read_csv('/kaggle/input/demo-notebook/users_1.csv') #указываем путь к файлу

In [48]:
df1

       ID пол  возраст в_браке   город
0  123123   М       23     нет  101000
1  393812   Ж       24      да  101000
2  891828   Ж       52      да  620000
3  128932   М       34      да  630000
4  928345   М       56     NaN  385000

In [49]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       5 non-null      int64
 1   пол      5 non-null      object
 2   возраст  5 non-null      int64
 3   в_браке  4 non-null      object
 4   город    5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes

In [50]:
df1.columns

Index(['ID', 'пол', 'возраст', 'в_браке', 'город'], dtype='object')

### Дополение данных

In [51]:
df2 = pd.read_csv('/kaggle/input/demo-notebook/users_2.csv')

In [52]:
df2

       ID пол  возраст в_браке   город
0  123112   М       19     нет  420000
1  478193   Ж       31      да  460000
2  891828   Ж       22      да  690001

In [53]:
df = pd.concat([df1, df2])

In [54]:
df

       ID пол  возраст в_браке   город
0  123123   М       23     нет  101000
1  393812   Ж       24      да  101000
2  891828   Ж       52      да  620000
3  128932   М       34      да  630000
4  928345   М       56     NaN  385000
0  123112   М       19     нет  420000
1  478193   Ж       31      да  460000
2  891828   Ж       22      да  690001

### Колонки и индексы

In [55]:
df.columns

Index(['ID', 'пол', 'возраст', 'в_браке', 'город'], dtype='object')

In [56]:
df.index

Index([0, 1, 2, 3, 4, 0, 1, 2], dtype='int64')

In [57]:
df.set_index("ID", inplace=True)

In [58]:
df

       пол  возраст в_браке   город
ID
123123   М       23     нет  101000
393812   Ж       24      да  101000
891828   Ж       52      да  620000
128932   М       34      да  630000
928345   М       56     NaN  385000
123112   М       19     нет  420000
478193   Ж       31      да  460000
891828   Ж       22      да  690001

### Объединение данных

In [59]:
cities = pd.read_csv('/kaggle/input/demo-notebook/city.csv')

In [60]:
df

       пол  возраст в_браке   город
ID
123123   М       23     нет  101000
393812   Ж       24      да  101000
891828   Ж       52      да  620000
128932   М       34      да  630000
928345   М       56     NaN  385000
123112   М       19     нет  420000
478193   Ж       31      да  460000
891828   Ж       22      да  690001

In [61]:
cities

,Адрес,Индекс,Регион,Широта,Долгота,Население
0,"Респ Адыгея, г Адыгейск",385200.0,Адыгея,44.878414,39.190289,12689
1,г Майкоп,385000.0,Адыгея,44.609827,40.100661,144055
2,г Горно-Алтайск,649000.0,Алтай,51.958103,85.960324,62861
3,"Алтайский край, г Алейск",658125.0,Алтайский,52.492251,82.779361,28528
4,г Барнаул,656000.0,Алтайский,53.347997,83.779806,635585
...,...,...,...,...,...,...
1112,"Ярославская обл, г Ростов",152150.0,Ярославская,57.205132,39.437862,31791
1113,"Ярославская обл, г Рыбинск",152900.0,Ярославская,58.048550,38.858412,200771
1114,"Ярославская обл, г Тутаев",152300.0,Ярославская,57.867499,39.536963,41001
1115,"Ярославская обл, г Углич",152610.0,Ярославская,57.522425,38.302004,34505
1116,г Ярославль,150000.0,Ярославская,57.621548,39.897741,591486

In [62]:
df_with_city = df.merge(
    cities,
    how='left',
    left_on='город', right_on='Индекс',
    indicator=True,
)

In [63]:
df_with_city

,пол,возраст,в_браке,город,Адрес,Индекс,Регион,Широта,Долгота,Население,_merge
0,М,23,нет,101000,г Москва,101000.0,Москва,55.754047,37.620405,11514330.0,both
1,Ж,24,да,101000,г Москва,101000.0,Москва,55.754047,37.620405,11514330.0,both
2,Ж,52,да,620000,г Екатеринбург,620000.0,Свердловская,56.838522,60.605491,1377738.0,both
3,М,34,да,630000,г Новосибирск,630000.0,Новосибирская,55.028191,82.921149,1498921.0,both
4,М,56,NaN,385000,г Майкоп,385000.0,Адыгея,44.609827,40.100661,144055.0,both
5,М,19,нет,420000,г Казань,420000.0,Татарстан,55.794358,49.111497,1216965.0,both
6,Ж,31,да,460000,г Оренбург,460000.0,Оренбургская,51.787509,55.101883,570329.0,both
7,Ж,22,да,690001,NaN,NaN,NaN,NaN,NaN,NaN,left_only